<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{ headline }}</strong>
    <p>
      {{ description }}
      <a [href]="componentsLink.url" target="_blank" rel="noopener noreferrer">{{ componentsLink.label }}</a>
    </p>
  </div>
</ion-content>
